<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ setting.getData.title }} {% if app.request.attributes.get('_route_params')._breadcrumbs is defined %} - {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}{% endif %}
    {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mauricio Ampuero">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/inamikabackoffice/assets/images/favicon.png') }}">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/colors/default-dark.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/custom.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/dropify/dist/css/dropify.min.css') }}" rel="stylesheet">
    
</head>
<body class="fix-header card-no-border fix-sidebar">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">{{ setting.getData.copyright }}</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            {{ include('InamikaBackOfficeBundle::header.html.twig') }}
        </header>
        {{ include('InamikaBackOfficeBundle::leftMenu.html.twig') }}
        <div class="page-wrapper">
            <div class="container-fluid">
                {% block headerPage %}
                {% include 'InamikaBackOfficeBundle:_partials:headerPage.html.twig' %}
                {% endblock %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% block body %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                {{ setting.getData.copyright }}
            </footer>
        </div>
    </div>
    {% block javascripts %}
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/waves.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/sidebarmenu.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/inamika.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script> 
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/js/jquery.toast.js') }}"></script>
    <script>
    var loading={
        show: function (text){
            if(typeof text !== "undefined") $('#loading').attr('data-text',text);
            {# $('#loading').show(); #}
            $(".preloader").fadeIn();
            return true;
        },
        hide: function (){
            {# $('#loading').removeAttr('data-text');
            $('#loading').hide(); #}
            $(".preloader").fadeOut();
            return true;
        }
    }
    function showRequest(formData, form, options) { 
        loading.show('{{ 'loading' | trans }}');
        var inputs=form.closest('form').find(':input:not(.dropify)');
        inputs.removeClass('error');
        inputs.next('small').html('');
        form.closest('form').find(':submit').attr('disabled',true);

        var data={};
        for (var i = formData.length - 1; i >= 0; i--) {
            data[formData[i].name]=formData[i].value;
        }
        let jsonObject = {};
        for (const [key, value]  of formData.entries()) {
            jsonObject[key] = value;
        }
        // console.log(formData);
        // console.log(data);
        // console.log(jsonObject);
        // return false;
        var method=($('input[name="_method"]').length>0)?$('input[name="_method"]').val():form.attr("method");
        $.ajax({
            url: form.attr("action"),
            type: method.toUpperCase(),
            data:JSON.stringify(data),
            crossDomain: true,
            success: function(data) {
                beforeSuccess(data);
            },  
            complete:function(){
                form.closest('form').find(':submit').attr('disabled',false);
            },
            error: function(data, status, error) {
                loading.hide();
                $.toast({
                    heading: '{{ 'ERROR' | trans }}',
                    text: '{{ 'ERROR_GENERAL' | trans }}',
                    position: 'top-right',
                    icon: 'error',
                    hideAfter: 3000, 
                    stack: 6
                });
                $.each( data.responseJSON.form.children, function( index, item ){
                    if(typeof item.errors != "undefined" && item.errors.length>0){
                        if($('#error_'+form.attr("name")+'_'+index).length > 0){
                            if(form.attr("name")!=undefined){
                                $('#error_'+form.attr("name")+'_'+index).html(item.errors[0]);
                            }else{
                                $('#error_'+index).html(item.errors[0]);
                            }
                            $('#error_'+index).html(item.errors[0]);
                        }else{
                            if(form.attr("name")!=undefined){
                                var input=$('#'+form.attr("name")+'_'+index);
                            }else{
                                var input=form.closest('form').find(':input[name='+index+']');
                            }
                            input.addClass('error');
                            input.after('<small class="text-danger">'+item.errors[0]+'</small>');
                        }
                    }
                });
            }
        });
        return false;
    }         

    $(function (){
        var options = {
            dataType:'json',
            beforeSubmit: showRequest
        };
        $( "form.sendToApi" ).ajaxForm(options);
        {% for message in app.session.flashBag.get('success') %}
        $.toast({
            heading: '{{ 'SUCCESS' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'success',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('warning') %}
        $.toast({
            heading: '{{ 'WARNING' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'warning',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
        $.toast({
            heading: '{{ 'ERROR' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'error',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
    });
    </script>
    {% endblock %}
</body>
</html>
